html, body {
    margin: 5vh auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #6b6b6b;
    font-family: 'Manrope', sans-serif;
}

#container{
    width: 550px;
    height: 550px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#colorInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    border: 1px solid black;
    background-color: whitesmoke
}

select{
    width: 320px;
    height: 42px;
    padding: 10px;
}

input[type=color]{
    width: 61px;
    height: 42px;
    padding: 0
}

option{
    padding: 200px;
    margin: 10px;
}

button{
    font-size: 12px;
    width: 123px;
    height: 42px;
}

#schemeContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 414px;
}

.schemeColor{
    width: 550px;
    height: 100%;
    flex-direction: row;
    border: 1px solid;
}

.schemeName{
    font-weight: bold; 
    margin: auto
}


#schemeInfo{
    display: flex;
    justify-content:  space-around;
    height: 56px;
    width: 550px;
    background-color: whitesmoke;
}

h1{
    text-align: center;
}

.rainbow{
    animation: rainbow 5s infinite;
}

@keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
	20%{color: red;}
    30%{color: CadetBlue;}
	40%{color: yellow;}
    50%{color: coral;}
	60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
	100%{color: orange;}
}